@model Pizza
<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<a class="nav-link" asp-area="" asp-controller="Pizza" asp-action="Index">Torna alla Home</a>
<ul class="d-flex">
    <li class="card m-4" style="width: 15rem; list-style: none">
            <img style="width: 100%" src="@Model.Image">
        <div class="card-body">
                <h2 class="card-title text-danger">Pizza @Model.Name</h2>
            <p class="card-text">Descrizione: @Model.Ingredients</p>
            <span class="mb-5">Prezzo: € @Model.Price</span>
        </div>
    </li>
</ul>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>
